:root {
  --hero-color: #252525;
  --second-hero-color: #3e3e3e;
  --button-color: #126c00;
  --light-border: solid 0.5px var(--second-hero-color);
}
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5em;

  /* For webkit */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 1080px;
}

.justify {
  max-width: 1477px;
  margin-left: auto;
  margin-right: auto;
}

.adjust {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}

/* Navigation Bar */
.navbar {
  background-color: var(--hero-color);
  position: fixed;
  width: 100%;
}

.navcontent {
  position: relative;
}

.nav-logo {
  position: absolute;
  background-color: var(--second-hero-color);
  padding: 33px 33px 60px;
  z-index: 10;
}

.nav-logo img {
  width: 351px;
}

.add-margin-left {
  margin-left: 10%;
}

.add-padding-right {
  padding-right: 10%;
}

.mainnav {
  position: relative;
  height: 150px;
}

.menu {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex; 
  justify-content: right;
  border-top: var(--light-border);
  border-bottom: var(--light-border);
}

.mainnav div {
  border-left: var(--light-border);
}

.mainnav div a{
  display: grid;
  color: #ffff !important;
  text-decoration: none !important;
  padding: 1.5em 1em !important;
}

.mainnav div:last-child {
  border-right: var(--light-border);
}



/* End of Navigation Bar*/
.banner img {
  width: 100%;
}

.three-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  margin-top: -100px;
}

.quick-tab1 {
  color: white;
  background-image: url('../images/woodland1.png');
  background-position: center;
  background-size: cover;
}

.quick-tab2 {
  color: white;
  background-image: url('../images/woodland2.png');
  background-position: center;
  background-size: cover;
}

.quick-tab3 {
  color: white;
  background-image: url('../images/woodland3.png');
  background-position: center;
  background-size: cover;
}

.layer {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.829);
  border-radius: 8px;
  padding: 0.5em 1.5em 1em;
  outline: 1px solid white;
  outline-offset: -10px;
  
}

.layer h3 {
  padding: 20px 0px 0px 0px;
  text-align: center;
}

.layer ul {
  padding: 5px 20px;
}

.two-column-grid {
  padding: 20px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.two-column-grid div img {
  width: 100%;
}

.button {
  padding: 7px 40px;
  background-color: darkgreen;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

#announcement {
  color: white;
  background-color: rgb(22, 22, 22);
  text-align: center;
}

.wordpress-section {
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

.wordpress-section .text-box {
  padding: 2em 2em;
}